streamlit
python-dotenv
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.74
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
GitPython
sentence-transformers
langchain-text-splitters
requests
ragas==0.2.15